
/* Signup and Login page*/
.signup-bg {
    background-image: url("https://i.ibb.co/Ntkk2LV/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}